services:
  imap-netflix-household-automation:
    container_name: imap-netflix-household-automation
    build: .
    ipc: host
    network_mode: host
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./tmp:/app/tmp